
tr.song span.ion-ios-play{
  display: none;
}

tr.song:hover span.ion-ios-play {
  display: block;
}

tr.song span.is-playing {
  display: block!important;
}

tr.song:hover span.is-playing {
  display: none!important;
}

tr.song span.ion-ios-pause {
  display: block;
}

tr .song span.number {
  display: block;
}

tr.song:hover span.number {
  display: none;
}

tr.song span.number-is-playing {
  display: none!important;
}
